<div class="row events">
    <h1 class="heading-style">
	    <strong>{{data.categoryName}}</strong>
	</h1>
	{{#if data.categoryEvents}}
		<div class="fordesktop">
		{{#each data.categoryEvents}}
		<div class="columerow" style="padding-top:6px;padding-bottom:6px;">
	    	<div class="event-col">
	            <a class="showtooltip" href="/product/listing/event/{{event.eventId}}"  title="{{event.eventName}}">
	                <img alt="{{event.eventName}}" src="http://static.fashionandyou.com/{{event.eventCode}}/banner_medium_new.jpg"  />
	                {{#if event.eventAttributes}}
						{{#each event.eventAttributes}}
							{{#lowerEqual code "discount"}}
								<div class="tagimage">
									<span>{{value}}</span>
                                </div>
							{{/lowerEqual}}
						{{/each}}	
					{{/if}}
	                <div class="event-bottom">
						<div class="logos-area">
						{{#if event.eventType}}
							{{#isAvailable event.eventType "express"}}
							<div class="logosholder">
								<div class="express"></div>
								<div class="logocontent">Express Sales. Shipped directly from our warehouse.</div>
							</div>
							{{/isAvailable}}
							{{#isAvailable event.eventType "international"}}
							<div class="logosholder">
								<div class="international"></div>
								<div class="logocontent">World's best finds. Imported especially for you.</div>
							</div>
							{{/isAvailable}}
							{{#isAvailable event.eventType "exclusive"}}
							<div class="logosholder">
								<div class="exclusive"></div>
								<div class="logocontent">Exclusive buys. You would love to own.</div>
							</div>
							{{/isAvailable}}
						{{/if}}
						</div>
						<h3>{{event.eventName}}</h3>
						<h4 class="event-timer" data-expire-datetime="{{getDate 'YYYY/MM/DD hh:mm:ss' event.endDate}}">0 DAYS 00:00:00 LEFT</h4>			
					</div>
	            </a>
	            <!-- power tip starts here --> 
				<div class="powertip-outer">
					<div class="eventpowertip" data-id="{{event.eventId}}" data-name="{{event.eventName}}" data-image="http://static.fashionandyou.com/{{event.eventCode}}/banner_medium_new.jpg">
						<a href="#" class="event-name">{{event.eventName}}</a>
						<div class="clear"></div>
						<!-- <span class="tooltip-timer" data-event-startdate="{{event.startDate}}" data-event-enddate="{{event.endDate}}">0 days left 00:00</span><div class="clear"></div> -->
						<span class="prod-no">{{event.noOfProducts}} Products</span><span class="disc-tip">{{event.discountType}} {{event.discountValue}}</span>
						<div class="clear"></div>
						<span class="tip-sep"></span>
		                         <div class="moredetail">
		                         <p class="text text1">Click here for more detail</p>
						<p class="text">{{event.description}}</p><div class="clear"></div>
						<span class="tip-sep"></span>
						<div class="share-icons">
						<label class="shareon">Share :</label>
						<a href="#" class="fb-share facebook social-share-link" title="Share on facebook"></a>
						<a href="#" class="tw-share twitter social-share-link" title="Share on Twitter"></a>
							<!-- <a href="#" class="em-share email social-share-link" title="Share on Email"></a> -->
							<a href="#" class="gp-share googleplus social-share-link" title="Share on Gplus"></a>
							<a href="#" class="pint-share pinterest social-share-link" title="Share on Pinterest"></a>
						</div>
	                    	<a href="#" class="shippingtype {{event.shippingMaster.shippingType}}">{{event.shippingMaster.shippingType}}<strong>Dispatch in {{event.shippingMaster.shippingDuration}} days</strong></a>
	                    </div>
					</div>
				</div>
				<!-- power tip ends here -->
	        </div>
    	</div>
    	{{/each}}
    	</div>
    	<div class="forresponsive">
    	{{#each data.categoryEvents}}
    	<div class="event-col">
    		<a class="showtooltip" href="/product/listing/event/{{event.eventId}}"  title="{{event.eventName}}">
	                <img alt="{{event.eventName}}" src="http://static.fashionandyou.com/{{event.eventCode}}/banner_medium_new.jpg"  />
	                {{#if event.eventAttributes}}
						{{#each event.eventAttributes}}
							{{#lowerEqual code "discount"}}
								<div class="tagimage">
									<span>{{value}}</span>
                                </div>
							{{/lowerEqual}}
						{{/each}}	
					{{/if}}
	                <div class="event-bottom">
						<div class="logos-area">
						{{#if event.eventType}}
							{{#isAvailable event.eventType "express"}}
							<div class="logosholder">
								<div class="express"></div>
								<div class="logocontent">Express Sales. Shipped directly from our warehouse.</div>
							</div>
							{{/isAvailable}}
							{{#isAvailable event.eventType "international"}}
							<div class="logosholder">
								<div class="international"></div>
								<div class="logocontent">World's best finds. Imported especially for you.</div>
							</div>
							{{/isAvailable}}
							{{#isAvailable event.eventType "exclusive"}}
							<div class="logosholder">
								<div class="exclusive"></div>
								<div class="logocontent">Exclusive buys. You would love to own.</div>
							</div>
							{{/isAvailable}}
						{{/if}}
						</div>
						<h3>{{event.eventName}}</h3>
						<h4 class="event-timer" data-expire-datetime="{{getDate 'YYYY/MM/DD hh:mm:ss' event.endDate}}">0 DAYS 00:00:00 LEFT</h4>
					</div>
	            </a>
	            <!-- power tip starts here --> 
				<div class="powertip-outer">
					<div class="eventpowertip" data-id="{{event.eventId}}" data-name="{{event.eventName}}" data-image="http://static.fashionandyou.com/{{event.eventCode}}/banner_medium_new.jpg">
						<a href="#" class="event-name">{{event.eventName}}</a>
						<div class="clear"></div>
						<!-- <span class="tooltip-timer" data-event-startdate="{{event.startDate}}"  data-event-enddate="{{event.endDate}}">0 days left 00:00</span><div class="clear"></div> -->
						<span class="prod-no">{{event.noOfProducts}} Products</span><span class="disc-tip">{{event.discountType}} {{event.discountValue}}</span>
						<div class="clear"></div>
						<span class="tip-sep"></span>
		                         <div class="moredetail">
		                         <p class="text text1">Click here for more detail</p>
						<p class="text">{{event.description}}</p><div class="clear"></div>
						<span class="tip-sep"></span>
						<div class="share-icons">
						<label class="shareon">Share :</label>
						<a href="#" class="fb-share facebook social-share-link" title="Share on facebook"></a>
						<a href="#" class="tw-share twitter social-share-link" title="Share on Twitter"></a>
							<!-- <a href="#" class="em-share email social-share-link" title="Share on Email"></a> -->
							<a href="#" class="gp-share googleplus social-share-link" title="Share on Gplus"></a>
							<a href="#" class="pint-share pinterest social-share-link" title="Share on Pinterest"></a>
						</div>
	                    	<a href="#" class="shippingtype {{event.shippingMaster.shippingType}}">{{event.shippingMaster.shippingType}}<strong>Dispatch in {{event.shippingMaster.shippingDuration}} days</strong></a>
	                    </div>
					</div>
				</div>
				<!-- power tip ends here -->
	        </div>
    	{{/each}}
    	</div>
    {{/if}}
</div>