{{#if vendorProductCategories.length}}
<!-- products starts here -->
{{#each vendorProductCategories}}
<div class="product-outer product"
	id="{{vendorProduct.vendorProductEvents.0.vendorProduct.vendorProductId}}"
	data-event-id="{{vendorProduct.vendorProductEvents.0.vendorProduct.eventId}}"
	data-defaultorder="{{@index}}"
	data-price="{{vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.spWithVAT}}">
	<div class="prod-img">
		{{#notEqual
		vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUQty 0}}
		<!-- <div class="quickview">
				<a class="fancybox" id="quickViewProduct" href="#quickview1">Quick Buy</a>
			</div> -->
		{{/notEqual}} <a
			href="/product-detail/product/{{vendorProduct.vendorProductEvents.0.vendorProduct.eventId}}/{{vendorProduct.vendorProductEvents.0.vendorProduct.vendorProductId}}">
			{{#equal
			vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUQty 0}}
			<div class="soldout">
				<h4>
					SOLD <strong>OUT</strong>
				</h4>
				<!-- <p>Don't miss out on the next event</p> -->
			</div> {{/equal}} <img onerror="this.src='http://cdn1.fashionandyou.com/fny-static/app-images/listing-error.jpg'"
			data-original="{{vendorProduct.vendorProductEvents.0.vendorProduct.imageView.detailsURL}}"
			alt="{{vendorProduct.vendorProductEvents.0.vendorProduct.product.name}}"
			title="{{vendorProduct.vendorProductEvents.0.vendorProduct.product.name}}" class="lazy" />
		</a> 
		<div class="rolover-layer">
			{{#if vendorProduct.vendorProductEvents.0.liveinventory.attributes}}
			{{#each
			vendorProduct.vendorProductEvents.0.liveinventory.attributes}}
			{{#lowerEqual name "size"}}
			<div class="product-sizing">
				{{#if attributeValues.length}} {{#each attributeValues}}
				{{#notLowerEqual value 'na'}} {{#equal quantity 0}} <span
					class="{{toLowerCase value}} sold">{{toLowerCase value}}</span>
				{{else}} <a
					href="/product-detail/product/{{../../../../../../vendorProduct.vendorProductEvents.0.vendorProduct.eventId}}/{{../../../../../../vendorProduct.vendorProductEvents.0.vendorProduct.vendorProductId}}">
					<span class="{{toLowerCase value}}">{{toLowerCase value}}</span>
				</a> {{/equal}} {{/notLowerEqual}} {{/each}} {{else}} {{#notLowerEqual
				attributeValues.value 'na'}} {{#equal attributeValues.quantity 0}} <span
					class="{{toLowerCase attributeValues.value}}">{{toLowerCase
					attributeValues.value}}</span> {{else}} <a
					href="/product-detail/product/{{../../../../../vendorProduct.vendorProductEvents.0.vendorProduct.eventId}}/{{../../../../../vendorProduct.vendorProductEvents.0.vendorProduct.vendorProductId}}">
					<span class="{{toLowerCase attributeValues.value}}">{{toLowerCase
						attributeValues.value}}</span>
				</a> {{/equal}} {{/notLowerEqual}} {{/if}}
			</div>
			{{/lowerEqual}} {{/each}} {{/if}}


			<div class="clear"></div>

			<div class="action-area">
				<div class="action-icons">
					<div class="sharearea">
						<span class="listing-share" title="Share"></span>
						<div class="shareslide">
							<!-- <a class="ifacebook" title="Facebook" href="#"></a>
								<a class="itwitter" title="Twitter" href="#"></a>
								<a class="iemail" title="Email" href="#"></a> -->
							<a href="#" class="ifacebook facebook social-share-link"
								title="Facebook"></a> <a href="#"
								class="itwitter twitter social-share-link" title="Twitter"></a>
							<!-- <a href="#" class="iemail email social-share-link" title="Email"></a> -->
							<a title="gplus" class="igplus googleplus social-share-link"
								href="#"></a> <a title="pintrest"
								class="ipintrest pinterest social-share-link" href="#"></a>
						</div>
					</div>
					<!-- <a class="listing-video" href="#" title="Video Attached"></a> -->
				</div>
				<div class="shipping-area">
					{{#if
					vendorProduct.vendorProductEvents.0.vendorProduct.shipmentType}} <span
						class="shippingtype {{toLowerCase vendorProduct.vendorProductEvents.0.vendorProduct.shipmentType}}">{{vendorProduct.vendorProductEvents.0.vendorProduct.shipmentType}}</span>
					{{/if}}
				</div>
			</div>
			{{#notEqual vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUQty 0}}
			<div class="quickview-detail">
				<a class="fancybox" id="quickViewProduct" href="#quickview1">Quick
					Buy</a>
			</div>
			{{/notEqual}}
		</div>
		
	</div>

	<div class="prod-detail">
		{{#if_less
		vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.spWithVAT
		vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.mrp}}
		<div class="discount-tag">- {{discountInPercentage
			vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.spWithVAT
			vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.mrp}}%
		</div>
		{{/if_less}}

		<div class="prod-info">
			<a
				href="/product-detail/product/{{vendorProduct.vendorProductEvents.0.vendorProduct.eventId}}/{{vendorProduct.vendorProductEvents.0.vendorProduct.vendorProductId}}"
				class="ev-prod-name"
				title="{{vendorProduct.vendorProductEvents.0.vendorProduct.product.name}}">
				{{vendorProduct.vendorProductEvents.0.vendorProduct.product.name}} </a>
			<a href="#" class="event-name" title="{{../event.eventName}}">
				{{../event.eventName}} </a> {{#if vendorProduct.rushHour}}
			<div class="rush-hour">
				<span id="qntySold" class="active">{{getQntySoldPercent
					vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUConsumption
					vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUQty}}%
					Sold</span> <span id="qntyLeft">{{getQntyLeftPercent
					vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUConsumption
					vendorProduct.vendorProductEvents.0.vendorProduct.totalSKUQty}}%
					Left</span>
			</div>
			{{/if}}
		</div>
		<div class="prod-pricing">
			<span class="old-price">INR
				{{vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.mrp}}</span>
			<span class="new-price">INR
				{{vendorProduct.vendorProductEvents.0.eventInventories.0.eventPrices.0.spWithVAT}}</span>
		</div>
	</div>
</div>
{{/each}}
<!-- products ends here -->
{{else}}
	<div id="notfound">
		<div class="oopsImage">
		<p>If i were you, I Would go back to Homepage !</p>
		<h5> ( Try reseting the filter )</h5>
	</div> 
{{/if}}