<!-- filter area starts here -->

<div id="filter-wrapper">
  <div class="title-heading"> <span class="title-filter-left">Filter</span> <span class="title-filter-right reset-all">Reset All</span> </div>
  <div id="product-filter-wrapper">
    <div class="filter-bar-box">
      <h4> All Results <span class="reset-link"></span></h4>
      <div class="toggle-box">
        <div class="scroller-bystyle" >
          <ul>
            <li>
              <input type="checkbox" value="products" class="choose-option" id="getProducts">
              <label for="getProducts"> products ({{hits.total}}) </label>
            </li>
            <li>
              <input type="checkbox" value="events" class="choose-option" id="getEvents">
              <label for="getEvents"> events (<span id="eventsCount">0</span>) </label>
            </li>
          </ul>
        </div>
      </div>
      <h4 id="popularKeywords"> Popular Keywords <span class="reset-link"></span></h4>
      <div class="toggle-box">
        <div class="scroller-bystyle" >
          <div class="results styles display-hidden" id="showTopKeywords"></div>
        </div>
      </div>
      <!-- {{#if aggregations}}
      {{#notEqual aggregations.maxRange.value aggregations.minRange.value}}
      <h4>Price Range <span class="reset-link"></span></h4>
      <div class="toggle-box price" data-filter-name="{{filterName}}" data-filter-type="{{filterType}}">
        <div class="scroller-bystyle">
          <p>
            <label for="amount">Price Range:</label>
            <input type="text" id="amount">
          </p>
          <div id="slider-range"></div>
          <div class="price-min-max">
            <div class="min">Min (INR {{aggregations.minRange.value}}) </div>
            <div class="max">Max (INR {{aggregations.maxRange.value}})</div>
          </div>
        </div>
      </div>
      {{/notEqual}}
      {{/if}}  -->
     </div>
  </div>
</div>

<!-- filter area ends here -->

<!-- <script>
	$(function() {
		$( "#slider-range" ).slider({
		  range: true,
		  min: 0,
		  max: 500,
		  values: [ 75, 300 ],
		  slide: function( event, ui ) {
			$( "#amount" ).val( "INR " + ui.values[ 0 ] + " - INR " + ui.values[ 1 ] );
		  }
		});
		$( "#amount" ).val( "INR " + $( "#slider-range" ).slider( "values", 0 ) +
		  " - INR " + $( "#slider-range" ).slider( "values", 1 ) );
   });
</script> -->