<p class="tipsHeading1">Address for reverse pick up: </p>
<div class="row addressBox tips">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<p><label>Address:</label><span id="address">{{shippingAddress.address1}} {{shippingAddress.address2}} {{shippingAddress.address3}}</span></p>
		<p><label>City:</label><span id="city">{{shippingAddress.pinCodeMaster.cityMaster.cityName}}</span></p>
		<p><label>State:</label><span id="state">{{shippingAddress.pinCodeMaster.cityMaster.stateMaster.stateName}}</span></p>
		<p><label>Country:</label><span id="country">{{shippingAddress.pinCodeMaster.cityMaster.stateMaster.countryMaster.countryname}}</span></p>
		<p><label>Pincode:</label><span id="pincode">{{shippingAddress.pinCodeMaster.pinCode}}</span></p>
		<p><label>Mobile:</label><span id="phoneno">{{shippingAddress.mobileNo}}</span></p>
	</div>
</div>